body { background: white; }

.vcentre { display:table; position:absolute; width:100%; height:100%; }
.vcentre > :first-child { display: table-cell; vertical-align: middle; }
.hcentre { margin-left: auto; margin-right: auto; }

.blink-show { transition: opacity 0.2s; }
.blink-fade { opacity: 0; }
